
.header {
  background-color: var(--opacity100-green);
}
.header .container {
  max-width: 1160px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  flex-wrap: wrap;
}
.header .container .nav .nav-ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header .container .nav .nav-ul li {
  list-style: none;
}
.header .container .nav .nav-ul li a{
  text-decoration: none;
  margin-left: 30px;
  display: block;
  font-family: 'Work Sans', sans-serif; 
  font-size: 1.25rem;
  line-height: 125%;
  color: var(--white);
}
.menu-mobile {
  display: none;
  cursor: pointer;
}


@media screen and (max-width:1140px){
  .header .container .nav .nav-ul li a {
    font-size: 1.1rem;
  }
  .header .container {
    padding: 20px 20px;
  }
}

@media screen and (max-width:660px){
  .header .container .nav {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}